.section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.section > .titulo{
    font-family: 'Montserrat';
    font-size: 40px;
    font-weight: 400;
    align-self: center;
    text-align: center;
    /* margin-left: 80px;  */
}

.produtos{
    display: flex;
    flex-direction: column;
    background-color: #fffafa45;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0 0 2px 0 #292929;
    height: 500px;  /* por esse valor como variavel */
    width: 400px;
    margin: 10px
    
}

.produtos > .imagem{
    /* background-color: blueviolet; */
    height: 300px;  /* por esse valor como variavel */
    width: 380px;
}

.produtos > .infomarçoes{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.produtos > .infomarçoes > .titulo{
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 24px;
    margin: 10px 5px;
}
.produtos > .infomarçoes > .valor{
    font-family: 'Montserrat';
    font-weight: 300;
    margin: 10px 5px;
    font-size: 20px;
}

.areaProdutos{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.areaButoes{
    display: flex;
    justify-content: center;
    align-items: center;
}

.areaButoes > .botaoDetalhe{
    background-color: #f12a5e;
    /* border: 1px solid #f12a5e; */
    /* padding: 10px; */
    height: 40px;
    width: 120px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}

.areaButoes > .botaoCarrinho{
    background-color: #eee8e8;
    /* border: 1px solid #f12a5e; */
    height: 40px;
    width: 60px;
    font-weight: bold;
    color: #f12a5e;
    cursor: pointer;

}
.areaButoes > .botaoDetalhe:hover{
    background-color: #fff;
    color: #f12a5e;
    border: 1px solid #f12a5e;
}

.areaButoes > .botaoCarrinho:hover{
    background-color: #f12a5e;
    color: #fff;

}
