
.areaNavBar{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    width: 100%;
    justify-content: space-around;
    margin-top: 10px;
  }
  .itemNavBar{
    align-items: center;
    display: flex;
    text-decoration: none;
    color: #f12a5e;
    padding: 16px;
    background-color: transparent;
    border: 0;
    font-size: 16px;
    font-family: Montserrat;
    font-weight: bolder;
  }
  
  .arrowSobre{
    margin-left: 5px;
  }

  .itemNavBar:focus{
    outline: none;
  }
  
  
  .navBar{
    display: flex;
    height: inherit;
  }
  
  @media screen and (max-width: 700px) {
    .areaNavBar{
      flex-direction: column;
      height: 100px;
    }
    .itemNavBar:first-child{
      display: none;
    }
    .app{
      width: auto;
    }
  }
  @media screen and (max-width: 416px){
    .itemNavBar{
      padding: 5px;
    }
  }
  .itemNavBar:hover{
    color: #fff;
    background-color: #f12a5e;
    cursor: pointer;
  }

          /******  POPUP  ******/

.popUpSobre{
  display: none;
  position: absolute;
  top: 60px;
  right: 0px;
  height: auto;
  width: 220px;
  background-color: snow;
  border-radius: 5px;
  box-shadow: 0 0 5px 0px #282c2f;
  padding: 10px;
  margin: 0px
}

.popUpSobre a{
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #979797;
  padding: 0px 5px;
}
.popUpSobre a:hover{
  color: #fff;
  background-color: #f12a5e;
}