/* Fonte Logo*/
@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');
/* Fonte corpo do site */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

.App{
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  
}

.areaLogo{
  display: flex;
  align-items: center;
  
}
.logo{
  width: 50px;
  height: 50px;
}
.areaNavBar{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50px;
  width: 100%;
  justify-content: space-around;
  margin-top: 10px;
}
.itemNavBar{
  align-items: center;
  display: flex;
  text-decoration: none;
  color: #f12a5e;
  padding: 16px;
  background-color: transparent;
  border: 0;
  font-size: 16px;
  font-family: 'Montserrat';
  font-weight: bolder;
}


.navBar{
  display: flex;
  height: inherit;
}
body {
  background-color: #fff;
}
@media screen and (max-width: 700px) {
  .areaNavBar{
    flex-direction: column;
    height: 100px;
  }
  .itemNavBar:first-child{
    display: none;
  }
  .app{
    width: auto;
  }
}
@media screen and (max-width: 416px){
  .itemNavBar{
    padding: 5px;
  }
}
.itemNavBar:hover{
  color: #fff;
  background-color: #f12a5e;
  cursor: pointer;
}
.tituloLogo{
  margin: 0;
  color: #f12a5e;
  font-family: 'Style Script';
  
  margin-left: 8px;
  font-weight: bold;
}

.main{
  display: flex;
  height: auto;
  width: 100%;
  margin: 26px 0px 100px 0px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



.banner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-image: url(./images/banner.jpg);
  background-position: center;
  text-transform: uppercase;
  text-align: center;
  padding: 100px 0px ;
}
.banner h1, .banner h3, .banner h4{
  color: #fff;
  margin: 20px;
  font-weight: bolder;
  text-align: center;
  font-family: cursive;

}
.banner button{
  padding: 10px 20px;
  background-color: snow;
  border: 0;
  font-weight: bolder;
  margin-top: 10px;
  color: grey;
}

.images{
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: row; */
  list-style-type: none;
  width: 100%;
  justify-content: center;
  padding: 0px;

}
.images li{
  display: flex;
  background-size: cover;
  height: 350px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 0 3px 0px;
}
.small{
  flex-basis: 40%;
}
.medium{
  flex-basis: 55%;
}
.large{
  flex-basis: 96.5%;
}
@media screen and (max-width: 800px){
  .images *{
    flex-basis: 100%;
  }
  .images .small{
    display: none;
  }
}
.main h3, .main p{
  text-align: center;
  color: #000;
  font-family: Montserrat;
  font-size: x-large;
}
.textoSeçao{
  margin: 50px auto
}

.footer{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #282c2f;
}

.footer .column1, .footer .column2, .footer .column3{
  display: flex;
  height: 200px;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  
  padding: 10px;
  width: 400px; 
}

.column1{
  /* border: 1px solid #c1c1c1; */
  /* background-color: blue; */
}
.column2{
  
}
.column3 a{
  text-decoration: none;
}
.column3 a:hover{
  font-weight: bold;
}

.footer hr{
  height: 150px;
  border: 0;
  margin: 0;
  width: 1px;
  background-color: #c1c1c1;
  align-self: center;
}
.footer p, .footer h4{
  color: #fff;
  margin: 8px;
  text-align: center;
  font-family: montserrat;
}


.iconFooter{
  height: 30px;
  width: 30px;
  color: #000;
  margin: 0 10px 0 10px;
  /* f12a5e */
}
.areaContatos{
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;

}
.areaContatos .areaIcones{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media screen and (max-width: 800px){
  .footer{
    flex-direction: column;
    justify-content: center;
  }
  .footer .column1{
    width: 100%;
    padding: 10px 0;
  }
  .footer .column2{
    width: 100%;
    padding: 10px 0;
  }
  .footer .column3{
    width: 100%;
    padding: 10px 0;
  }
  .footer hr{
    width: 85%;
    height: 1px;
  }
}
.arrowSobre{
  margin-left: 5px;
}

.popUpSobre{
  display: none;
  position: absolute;
  top: 60px;
  right: 0px;
  height: auto;
  width: 220px;
  background-color: snow;
  border-radius: 5px;
  box-shadow: 0 0 5px 0px #282c2f;
  padding: 10px;
  margin: 0px
}

.popUpSobre a{
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #979797;
  padding: 0px 5px;
}
.popUpSobre a:hover{
  color: #fff;
  background-color: #f12a5e;
}
