html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: #fff;
}
button{
  background-color: transparent;
  border-width: 0;
}
button:focus{
  outline: none;
}
a {
  color: inherit;
  text-decoration: none;
}


#__next, #__next > div{
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
}
.App{
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  
}
