/* Fonte Logo*/
@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');
/* Fonte corpo do site */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200&display=swap');

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: #fff;
}
button{
  background-color: transparent;
  border-width: 0;
}
button:focus{
  outline: none;
}
a {
  color: inherit;
  text-decoration: none;
}


main{
  display: flex;
  height: auto;
  width: 100%;
  margin: 26px 0px 100px 0px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


#__next, #__next > div{
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
}
.App{
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  
}
