.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  text-transform: uppercase;
  text-align: center;
  /* padding: 100px 0px ; */
  width: 100%;
  height: 332px;
}
.imgbanner {
  padding: 0px 10px;
}
.banner > .txtBanner {
  width: 100%;
  position: absolute;
}
.banner > .txtBanner > h1 {
  color: #fff;
  margin: 40px 0px;
  font-weight: 500;
  text-align: center;
  font-family: "Montserrat";
  font-size: 40px;
}
.banner > .txtBanner > h2 {
  color: #fff;
  margin: 40px 0px;
  font-weight: 400;
  text-align: center;
  font-family: "Montserrat";
  font-size: 34px;
}
.banner button {
  padding: 10px 20px;
  background-color: snow;
  border: 0;
  font-weight: bolder;
  margin-top: 10px;
  color: grey;
}

.imagem {
  height: 500px;
}

.main h1 {
  text-align: center;
  color: #000;
  font-family: Montserrat;
  font-weight: 200;
  text-transform: uppercase;
}
.main p {
  text-align: center;
  color: #000;
  font-family: Montserrat;
  font-weight: 100;
  font-size: 24px;
}

.textoSeçao {
  margin: 50px 10px;
}
