



.banner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-image: url(../public/images/banner.jpg);
  background-position: center;
  text-transform: uppercase;
  text-align: center;
  padding: 100px 0px ;
}
.banner h1, .banner h3, .banner h4{
  color: #fff;
  margin: 20px;
  font-weight: bolder;
  text-align: center;
  font-family: 'Montserrat';

}
.banner button{
  padding: 10px 20px;
  background-color: snow;
  border: 0;
  font-weight: bolder;
  margin-top: 10px;
  color: grey;
}

.images{
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: row; */
  list-style-type: none;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding: 0px;

}
.images > div{    /* Elemento pai da <Image/> do nextjs */
  display: flex;
  background-size: cover;
  height: 500px;
  margin: 10px;
  border-radius: 10px;
  /* box-shadow: 0 0 10px 0px; */
  position: relative;
}
.images *{    /* Elemento pai da <Image/> do nextjs */
  border-radius: 10px;
  box-shadow: 0 0 5px px;
  background-color: #c1c1c1;
}
.small{
  flex-basis: 40%;
}
.medium{
  flex-basis: 55%;
}
.large{
  flex-basis: 96.5%;
}
@media screen and (max-width: 800px){
  .images *{
    flex-basis: 100%;
  }
  .images .small{
    display: none;
  }
}
.main h1{
  text-align: center;
  color: #000;
  font-family: Montserrat;
  font-weight: 200;
  text-transform: uppercase;

}
.main p{
  text-align: center;
  color: #000;
  font-family: Montserrat;
  font-weight: 100;
  font-size: 24px;
}


.textoSeçao{
  margin: 50px auto
}

