



.banner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  /* background-image: url('https://firebasestorage.googleapis.com/v0/b/dincy-s-cake.appspot.com/o/imagens%2Fbanner.jpg?alt=media&token=5160c97b-b822-49c4-8584-f0a05d3cffd3') ; */
  background-position: center;
  text-transform: uppercase;
  text-align: center;
  /* padding: 100px 0px ; */
  width: 100%;
  height: 400px;
}
.banner > .txtBanner{
  width: 100%;
  position: absolute;
}
.banner > .txtBanner > *{
  
  color: #fff;
  margin: 20px;
  font-weight: bolder;
  text-align: center;
  font-family: 'Montserrat';

}
.banner button{
  padding: 10px 20px;
  background-color: snow;
  border: 0;
  font-weight: bolder;
  margin-top: 10px;
  color: grey;
}

.imagem{
  height: 500px;
}


.main h1{
  text-align: center;
  color: #000;
  font-family: Montserrat;
  font-weight: 200;
  text-transform: uppercase;

}
.main p{
  text-align: center;
  color: #000;
  font-family: Montserrat;
  font-weight: 100;
  font-size: 24px;
}


.textoSeçao{
  margin: 50px 10px
}

